body{
    background-color: black;
}

.Canvas{
    z-index: -1;
    position: absolute;
    left:0px;
    top:0px;
}

.view{
    position:fixed;
    width:1000px;
    height:1000px;
}

#pcanvas{
    background-color: transparent;
}

#UI{
    position:relative;
}

#ParameterUI{
    position:relative;
    top:125px;
    left:500px;
    width:100px;
}

#Parameters{
    position:relative;
    top:300px;
    width:100px;
}


.button{
    position:relative;
    width:100px;
    height:50px;
    left:1100px;
    display:block;
    
}
.button:active{
    background-color:lightgray;
}

.slider{
    background: #d3d3d3; /* Grey background */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
}

.parameter{
    position:relative;
    color:antiquewhite;
    padding-top: 1%;
    width:150px;
    height:20px;
}